@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,900;1,300;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: black;
}


/*menu del sitio web*/
.logo img{
    width: 280px;
    height: 100%;
    padding-right: 3rem;
}
.logo{
    padding: 0;
    margin: 0;
}
header{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-around;
    padding: 0.5rem 3rem 0.3rem;
}
nav{
    display: flex;
    align-items: center;
}
a{
    margin: 10px;
    text-decoration: none;
}
nav ul{
    display: flex;
}
nav ul li{
    margin: 0.5rem;
    list-style: none;
}
nav ul li a{
    color: rgb(65, 65, 65);
    font-size: 16px;
}
nav ul li a span{
    font-weight: bolder;
    color: rgb(43, 43, 43);
}



/*portada benjita*/
.portada {
    position: relative;
    width: 100%;
    height: 50vh;
    background-size: cover;
    background-position: center;

}
.portada .titulos h2 {
    margin: 0;
    font-size: 3.5rem;
    padding: 2rem 2rem 0;
    font-weight: 500;
    text-transform: uppercase;
}
.titulos p {
    font-size: 1.7rem;
    padding: 0.5rem 2rem 2rem;
    font-weight: 200;
    margin: 0;
}
.portada .titulos{
padding-top: 6%;
padding-left: 10%;
color: rgb(255, 255, 255);
}



.titulos h2 {
    display: block;
    white-space: nowrap;
    border-right: 4px solid;
    width: 12ch;

    animation: typing 2s steps(15), blink .5s infinite step-end alternate;
    overflow: hidden;
}
@keyframes typing {
    from { width: 0 }
}
@keyframes blink{
    50% { border-color: transparent }
}




/*3 contenedores con los iconos*/
.contenedores{
    display: flex;
    align-items: flex-end;
    align-content: flex-end;
    justify-content: center;
    padding: 3.5rem 0 5rem;
}

/*seccion de la introduccion*/
.introduccion{
    padding: 18% 20% 10%;
}
.icono-texto{
    padding: 5rem 6rem;
    margin: 6rem 4rem 4rem;
    /*color de las 3 cartitas*/background-color: rgb(255, 255, 255); 
    border: 1px;
    border-radius: 10px;
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.123);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: center;

    overflow: hidden;
    cursor: default;
    transition: all 400ms ease;
    cursor: default;
}
.contenedores .icono-texto:hover {
    background-color: #242424;
    transform: scale(0.93);
    cursor: pointer;
    color: white;   
    }
.contenedores .icono-texto h3:hover{
    cursor:default;
    color: white;
}
.icono-texto a h3{
    font-weight: 500;
    margin-bottom: 0;
    color: rgb(90, 90, 90);
}
.icono-texto a img{
    width: 75px;
    margin: 0;
}
/*.fondo-vacio{
    background-color: rgb(59, 59, 59);
    padding-top: 5rem;
}*/
.texto-intro p{
    font-weight: 200;
    font-size: 1.1rem;
    text-align: justify;
    margin-bottom: 2rem;
}
.texto-intro h1{
    font-weight: 600;
    font-size: 1.8rem;
    color:rgb(158, 200, 255);
    margin: 2rem 0 3rem;
}
.texto-intro p span{
    color: rgb(124, 171, 224);
    font-weight: 500;
}
.final-texto{
    font-weight: 200;
    font-size: 1.2rem;
    text-align: justify;
    margin-bottom: 2rem;
}
.cv a img{
    width: 23px;
    margin-left: 0.5rem;
}
.cv a{
    margin: 0;
    font-size: 1rem;
    font-weight: 200;
}
.cv{
    margin: 2rem;
    display: flex;
    align-items: center;
    border-radius: 10px;
    border: 1px solid rgb(204, 204, 204);
    background-color:rgb(169, 202, 240);
}
.cv:hover {
    cursor: pointer;
    background: rgb(194, 194, 194);
}



/*boton de la seccion introduccion*/
.boton{
    display: flex;
    align-content: flex-start;
    justify-content: space-evenly;
}
.boton .cv a{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 600;
}



/*PIE DE PAGINA*/
.pie-de-pagina{
    padding: 8% 20% 2rem;
    background-color: rgb(37, 37, 37);
    color: white;
}
.titulo-presentacion{
    font-weight: 600;
    font-size: 1.8rem;
}
.titulo-contacto{
    font-weight: 600;
    font-size: 1.8rem;
    text-align: right;
}
.pie-de-pagina p{
    font-size: 1.2rem;
}
.rrss-y-texto{
    display: flex;
    justify-content: flex-end;
    padding-bottom: 2rem;
}
.parrafo-breve{
    font-weight: 200;
}
.redes-sociales{
    margin: 1rem;
}
.contenido-rrss{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.contenido-rrss a{
    margin-left: 3rem;
}
.copyright{
    text-align: center;
}
.icono-footer{
    width: 100%;
    height: 40px;
    margin: 0;
}



/*pagina papers*/
.papers{
    text-align: center;
}
.fondo-titulo{
    color: rgb(163, 163, 163);
    display: flex;
    margin-top: 5rem;
    justify-content: flex-start;
}
.fondo-titulo h1{
    font-size: 1.8rem;
    font-weight: 600;
    margin:0 0 0 20%;
}
.papers h3{
    text-align: left;
}
.contenido-papers{
    padding: 5% 20% 3rem;
}



/*botón para descargar paper*/
.texto-y-boton{
    display: flex;
    align-items: center;
}
.descargar-paper{
    margin-left: 1.8rem;
    height: 30px;
    background-color: transparent;
    border: transparent;    
    padding: 0;
}
.descargar-paper img{
    width: 23px;

}
.descargar-paper a{
    margin: 0;
}





/*gid / lista de papers*/
.contenido-papers{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 5rem;
    justify-items: center;
}
.paper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
}
.paper p{
    text-align:left;
    font-size: 0.9rem;
    font-weight: 200;
}
.paper h3{
    font-size: 1.8rem;
    font-weight: 600;
    color:rgb(158, 200, 255);
}
hr{
    width:60%;
    height: 0.1px;
    background: rgb(216, 234, 255);
    border-color: transparent;
}
.paper span{
    color: rgb(124, 171, 224);
    font-weight: 500;
}



/*pagina de lecturas*/
.lecturas{
    padding: 5% 20% 10% 30%;
}
.lecturas h3{
    font-size: 1.8rem;
    font-weight: 600;
    color: rgb(158, 200, 255);
}
.contenido-documento{
    display: flex;
    flex-direction: column;
}
.contenido-documento h4{
    margin: 0;
}
.contenido-documento p{
    margin: 0;
    font-weight: 200;
    color: #838383;
}
.contenido-documento img{
    width:32px ;
}
.listado-documentos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(1, 1fr);
    gap: 1.8rem;
    margin-top: 4rem;
    justify-content: space-around;
}
.lecturas p{
    font-size: 1.1rem;
    font-weight: 200;
}
.lecturas p span{
    color: rgb(124, 171, 224);
    font-weight: 500;
}
.documentos{
    margin:0;
}
.fila-1 h4{
    font-weight: 600;
    color:rgb(158, 200, 255);
    text-align: left;
}
.fila-2 h4, .fila-3 h4{
    font-weight: 400;
    color: #2f2f2f;
}
.fila-1, .fila-2, .fila-3{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}








/*página apuntes*/
.apuntes-mate{
    padding: 2% 20% 5%;
}
.contenido-mate {
    margin: 3rem;
}
.contenido-mate p{
    font-size: 1.1rem;
    font-weight: 200;
}
.img-y-titulo{
    display: flex;
    margin-bottom: 2rem;
    align-items: flex-start
}
.img-y-titulo h1{
    margin-right: 2rem;
    font-weight: 600;
    font-size: 1.8rem;
    color: rgb(158, 200, 255);
}
.contenido-mate p span{
    color:rgb(124, 171, 224);
    font-weight: 500;
}
.img-y-titulo img{
    width: 90px;
}
.contenedor-grid-mate{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 1.8rem;
    justify-content: space-around;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
}
.grids-mate{
    padding: 2% 20% 10%;
}
.contenido-proyecto{
    background-color: rgb(242, 242, 242);
    padding: 4rem;
    border-radius: 10px;
}
.contenedor-proyecto h4{
    color: black;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}
.detalles-mate h3{
    font-size: 1.3rem;
    font-weight: 300;
    color: #666;
}
.detalles-mate{
    margin: 4rem 0 3rem 0;
}




/*página código*/
.codigo{
    color: rgb(29, 29, 29);   
    background-color:rgb(255, 255, 255);
    padding: 2% 20% 2%;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.contenido-codigo{
    margin: 3rem;
}
.contenido-codigo h1{
    font-weight: 600;
    color: rgb(158, 200, 255);
    font-size: 1.8rem;
}
.contenido-codigo p{
    font-weight: 200;
    font-size: 1.1rem;
}
.contenido-codigo p span{
    color: rgb(124, 171, 224);
    font-weight: 500;
}
.linea-body-codigo{
    width: 80%;
    height: 0.1px;
    background: rgb(216, 234, 255);
    border-color: transparent;
}
/*ladrillos: lenguajes de programacion*/
.about__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10rem
}
.about__content-title {
    font-weight: 500;
    font-size: 1.5rem;
    margin: 2rem 0 3rem;
    color: rgb(122, 122, 122);    
}
.programas{
    margin: 2rem;
}
.about__content-details-para {
    font-size: 1.8rem;
    color: #666;
    max-width: 60rem;
    line-height: 1.7;
    margin-bottom: 1rem
}
.about__content-details-para--hl {
    font-weight: 700;
    margin: 0 3px
}
.about__content-details-para:last-child {
    margin-bottom: 4rem
}
.about__content-details-para a {
    text-decoration: underline;
    font-weight: 700;
    color: #ff74be;
    margin: 0 3px
}
.skills {
    display: flex;
    flex-wrap: wrap
}
.skills__skill {
    padding: 0.5rem 2rem;
    margin-bottom: 0.8rem;
    margin-right: 1.5rem;
    background: rgba(153, 153, 153, .2);
    border-radius: 5px;
    font-weight: 500;
    font-size: 1rem;
    color:#7ea7e1;
}
.skills__skill:hover {
    background-color: #93b2ec;
    /* Cambia el fondo a rosa al pasar el cursor */
    color: white;
    /* Cambia el color del texto a blanco al pasar el cursor */
}



/*codigo desarrollado por benjita*/
.codigo-desarrollado{
    padding: 2% 20% 2%;
    display: flex;
    flex-direction: column;
}
/*gid / lista de codigos*/
.contenedor-codigo{
    justify-items: center;
    align-items: center;
}
.detalles-del-proyecto p{
    font-size: 1.1rem;
    font-weight: 200;
}
.detalles-del-proyecto p span{
    color: rgb(124, 171, 224);
    font-weight: 500;
}
.el-codigo {
    background-color: #f0f0f0;
    border-radius: 10px;
    color: rgb(54, 54, 54);
    padding: 0.5rem;
    margin: 2rem 2rem 4rem;
    }
.el-codigo p {
    text-align: left;
    font-size: 1rem;
    font-weight: 300px;
    font-family: 'PT Mono', monospace;
    line-height: 1.5;
    margin: 2rem;
}
.detalles-del-proyecto{
    margin:3rem ;
}
.detalles-del-proyecto h3{
    font-weight: 500;
    font-size: 1.5rem;
    color: rgb(122, 122, 122);
}
.el-codigo h3 {
    font-size: 1.8rem;
    font-weight: 600;
    color: rgb(135, 176, 223);
}
hr {
    width: 60%;
    height: 0.1px;
    background: rgb(216, 234, 255);
    border-color: transparent;
}
.el-codigo span {
    color: rgb(124, 171, 224);
    font-weight: 500;
}
.grafico{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
}
.grafico p{
    font-weight: 200;
    font-size: 1.1rem;
    margin: 3rem;
}
.grafico p span{
    color: rgb(122, 159, 202);
    font-weight: 500;
}
.grafico img{
    width: 65%;
    margin: 2.5rem;
}




/*estilos del editor de codigo*/
code[class*=language-],
pre[class*=language-] {
    color: #ccc;
    background: 0 0;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    font-size: 0.9rem !important;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.3 !important;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}
:not(pre)>code[class*=language-],
pre[class*=language-] {
    background: #ffffff;
}
pre[class*=language-] {
    padding: 1em;
    margin: 0.5em 0;
    overflow: scroll;
    max-height:600px;
}



/*estilos para el botón ver más*/
.ver-mas a {
    margin:5px;
    font-size: 1rem;
    font-weight: 300;
    color: #2f2f2f;
    font-family: 'Poppins', sans-serif;
}
.ver-mas {
    margin: 2rem 0;
    display: flex;
    align-items: center;
    border-radius: 10px;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(225, 225, 225);
}
.ver-mas:hover {
    cursor: pointer;
    background: rgb(211, 211, 211);
}





/*página actividades*/
.actividades {
    padding: 1% 30% 10%;
}
.contenido-actividades{
    padding-top: 2.5rem;
}
.actividades h1{
    font-size: 1.8rem;
    font-weight: 600;
    color: rgb(163, 163, 163);
    text-align: left;
    margin-top: 3.7rem;
    margin-bottom: 0;
}
.contenido-actividades h3{
    font-weight: 500;
    font-size: 1.2rem;
    margin-bottom: 0;
}
.contenido-actividades h4{
    font-weight: 600;
    margin: 0;
    color:rgb(127, 174, 224);
}
.contenido-actividades p{
    font-weight: 300;
    font-size: 1rem;
}
.contenido-actividades ul{
    color: rgb(152, 154, 156);
    font-weight: 300;
}
.contenido-actividades ul li span{
    font-weight: 600;
    color: rgb(124, 171, 224);
}




/*Página cursos*/
/* Estilos para la ventana emergente */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.352);
    display: none;
    justify-content: center;
    align-items: center;
}
.popup {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.383);
    text-align: center;
    position: relative;
    /* Importante para posicionar el botón de cerrar correctamente */
}
.popup h2{
    font-weight: 500;
    color: #7ea7e1;
}
.close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    font-size: 18px;
    color: #000000;
}